@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-gap: 20px;
    justify-content: center;
}
