@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #2c3333;
    color: white;
    padding-inline: 10px;
    align-items: center;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("https://cdn.pixabay.com/photo/2017/05/11/08/48/woman-2303361__340.jpg");
    background-position: center center;
    background-size: cover;
}

.hero {
    width: 100%;
    height: 40vh;
}

.article {
    margin: 40px;
}

.author {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.author-img {
    width: 80px;
    margin-bottom: 10px;
}
